<!DOCTYPE html>

<html>
    <head>
        <title> Services </title>
        <script>
            function getservice()
            {
                var ele = document.getElementById("svs")
                document.getElementById("services").value = ele.value
            }
        </script>
    </head>
    <body>
        <div>
            <form action="/user/services" method="POST">
                
                <div>
                    Service Type :
                    <select id="svs" name=svs>
                        <option value="Credit"> Credit</option>
                        <option value="Debit"> Debit</option>
                        <option value="Insurance"> Insurance</option>
                        <option value="Loan"> Loan</option>
                    </select>
                    <label for="amt"> Amount </label>
                    <input type="number" id="amt" name="amt">

                    <button type="submit" onclick="return getservice() "> Register for Service </button>
                </div>

                <input type="hidden" name="services" id="services"> 

            </form>
        </div>
    </body>
</html>